<md-toolbar color="primary">
    <span><md-icon>explore</md-icon>&nbsp;</span>

    <span>  Welcome to {{title}}! </span>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <span>
      <button md-icon-button [md-menu-trigger-for]="menu">
        <md-icon>more_vert</md-icon>
      </button>
    </span>
  </md-toolbar>

  <md-menu x-position="after" #menu="mdMenu">
    <button md-menu-item routerLink="/" routerLinkActive="active">Home</button>
    <button md-menu-item routerLink="/about" routerLinkActive="active">About</button>
    <button md-menu-item routerLink="/cardsample" routerLinkActive="active">Card Example</button>
  </md-menu>

  <router-outlet></router-outlet>
